spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/voicecampaign
    driver-class-name: org.postgresql.Driver
    username: postgres
    password: postgres

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

  h2:
    console:
      enabled: false

  data:
    redis:
      host: localhost
      port: 6379
